<% if @question.errors.present? %>
<% @question.errors.full_messages.each do |msg| %>
$('.errors').append('<%= j msg %>!')
$('.errors').css('color', 'red')
<% end %>
<% else %>
$('.question-title').html('<%= @question.title %>')
$('.question-body').html('<%= @question.body %>')
$('.question-title').show()
$('.question-body').show()
$('.list').html('');
$('.list-answer').html('');
<% @question.attachments.each do |a| %>
$('.list').append('<li><%= link_to a.name, a.file.url %> <%= render 'remove_form',question: @question, attachment: a %></li>')
<% end %>
<% @question.answers.each do |ans| %>
<% ans.attachments.each do |a| %>
$('.list-answer-<%= ans.id %>').append('<li><%= link_to a.name, a.file.url %> <%= render 'remove_form',question: @question, attachment: a %></li>')
<% end %>
<% end %>
$('.edit-question-form').hide()
if ($('.edit-question-link').hasClass('cancel')) {
    $('.edit-question-link').html('Edit');
    $('.edit-question-link').removeClass('cancel');
} else {
    $('.edit-question-link').html('Cancel');
    $('.edit-question-link').addClass('cancel');
}
<% end %>